<div class="card" (click)="goToDocumentale()">
    <div [ngStyle]="{'background-color' : color }" class="card-header bg-comm text-header text-white" >Documentale <div class="card-header-forward"><i class="fa fa-fw fa-chevron-right"></i></div></div>
    <div class="card-body">
        <ul class="list-group list-group-flush priority" style="text-align: center;">
            <i [ngClass]="icon" [ngStyle]="{'color' : color }" style="font-size: 5em; margin-top: 15px;"></i>
        </ul>
    </div>
</div>